{% extends 'boutiques/vendeur_dashboard_base.html' %}

{% block title %}Supprimer Boutique{% endblock %}

{% block content %}
    <h1 class="mt-4">Confirmer la suppression de la boutique</h1>
    <div class="alert alert-warning" role="alert">
        Êtes-vous sûr de vouloir supprimer la boutique "<strong>{{ shop.name }}</strong>" ?
        <br>
        **Attention :** Ceci supprimera également tous les produits associés à cette boutique.
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
        <a href="{% url 'seller_dashboard_home' %}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock %}